{% extends "restaurant/base.html" %}
{% block title %}Вход | Vireo Reserve{% endblock %}
{% include 'restaurant/includes/header.html' %}

{% block extra_css %}
  <link rel="stylesheet" href="/static/css/auth_common.css">
  <!-- Если есть уникальные стили для логина -->
  <!-- <link rel="stylesheet" href="/static/css/login.css"> -->
{% endblock %}

{% block content %}

<!-- Добавлены классы py-4 py-md-5 -->
<div class="container d-flex justify-content-center align-items-center min-vh-100 py-4 py-md-5">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert" style="max-width: 440px; width: 100%;">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  <div class="auth-card">
    <div class="card-header">
      <h2>Vireo Reserve</h2>
      <p>Войдите в свой аккаунт</p>
    </div>

    <form method="post">
      {% csrf_token %}
      <div class="input-group">
        <label for="{{ form.username.id_for_label }}">Ваша почта</label>
        {{ form.username }}
      </div>
      <div class="input-group">
        <label for="{{ form.password.id_for_label }}">Пароль</label>
        {{ form.password }}
      </div>

      <button type="submit" class="btn-auth">Войти</button>
    </form>

    <div class="divider">Или</div>

    <div class="links">
      <a href="{% url 'users:register' %}">Создать аккаунт</a>
      <span>•</span>
      <a href="{% url 'users:password_reset' %}">Забыли пароль?</a>
    </div>

    <div class="footer-note">
      Остров Пхи-Пхи, Таиланд
    </div>
  </div>
</div>
{% endblock %}